.ryanair-nav{
  background-color: rgba(0,0,0,0);
  color:white;
}
#ryanair-logo-container{
  max-width: 250px;
  -webkit-transition: all .2s ease-in-out; /* Safari */
  transition: all .2s ease-in-out;
}

#ryanair-logo-container:hover{
  transform: scale(1.03);
}
.nav-right-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-weight: bold;
}
#headerSectionComponent{
  height: 50px;
  position: fixed;
  width: 100%;
}

nav{
  box-shadow: none !important;
}
