<div>
  <section id="headerSectionComponent">
    <nav>
      <div class="nav-wrapper ryanair-nav">
        <a href="#" class="brand-logo">
          <div id="ryanair-logo-container">
            <img id="ryanair-logo" class="responsive-img" src="{{vm.logo}}">
          </div>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Booking</a></li>
          <li><a href="badges.html">About</a></li>
        </ul>
      </div>
    </nav>
  </section>
</div>
