<div class="">
  <section id="homeComponentSection">
    <div id="back-image-container">
      <img id="img-page-back" src="{{vm.backImage}}">
    </div>
    <div id="back-image-cover">
    </div>
    <div class="container">
      <div id="landing-info-container" class="row">
        <div class="col s12 center-align ">

             <div class="container" id="widget-container">
              <div class="card blue-accent-3-transparent">
                <div class="card-content white-text">
                  <span class="card-title">Flights</span>
                    <div class="row">
                      <div class="col s12">
                       <ac-airport typeac='O'></ac-airport>
                      </div>
                      <div class="col s12">
                       <ac-airport typeac='D'></ac-airport>
                      </div>
                    </div>
                </div>
                <div class="card-action">
                  <button class="btn waves-effect waves-light amber grey-text text-darken-4"  type="submit" name="action">Search
                    <i class="fa-icon fa fa-search fa-2x" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
   <date-wrapper
      start-date="$ctrl.startDate"
      end-date="$ctrl.endDate">
  </date-wrapper>

  </section>
</div>
