<div class="">
  <section id="homeComponentSection">

    <div id="circle-container-1" class="circle-container">
    </div>

    <div id="circle-container-2" class="circle-container">
    </div>

    <div id="circle-container-3" class="circle-container">
    </div>

    <div id="back-image-container">
      <img id="img-page-back" src="{{vm.backImage}}">
    </div>
    <div id="back-image-cover">
    </div>
    <div class="container">
      <div id="landing-info-container" class="row">
        <div class="col s12 m6 center-align ">
          <div id="circle-container-4" class="circle-container">
            <img id="ryanair-logo" class="responsive-img" src="{{vm.logo}}">
          </div>
        </div>
        <div class="col s12 m6 center-align ">
          b
        </div>
      </div>
    </div>
   <!--  <date-wrapper
      start-date="$ctrl.startDate"
      end-date="$ctrl.endDate">
    </date-wrapper>
   -->
  </section>
</div>
